/* Add Universal Styles */

body {
    
}




/* HEADER */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    
    width: 100%;
    background-color: lightslategrey
    
}

.desktop_header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

nav.desktop {
    height: 100%;
}

nav.desktop ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav.desktop ul li {
    padding: 0 10px;
}


.mobile_header {
    display: none;
}

/* BANNER SECTION */

.banner {
    width: 96%;
    display: flex;
    background-color: aliceblue;
    padding: 32px 2%;
    margin-top: 64px;
    
}

.banner_image {
    width: 60%;
    //padding: 32px 24px;
}

.banner img {
    width: 100%; 
    height: auto;
    display: block;
}

.banner_content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.banner_content h1, .banner_content p, .banner_content button {
    padding: 20px 0;    
    
}



/* MAIN CONTENT */



.main_content {
    background-color: aliceblue;
    width: 96%;
    display: flex;
    padding: 32px 2%;
}

.main_image {
    width: 58%;
    
    
}

.main_image img {
    width: 100%;
    height: auto;
    display: block;
}

.main_panels {
    width: 40%;
    padding-left: 24px;
    
}

.main_panel {
    width: 100%;
    display: flex;
    padding: 16px 0;
}

.main_panel:nth-child(1) {
    padding-top: 0;
}



.sub_image {
    width: 35%;
}

.sub_image img {
    width: 100%;
    height: auto;
    display: block;
}

.panel_content {
    width: 65%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* COURSES SECTION */



.courses {
    width: 100%;
    background-color: white;
    
}

.courses h3 {
    text-align: center;
    padding: 32px 0;
}

.courses .course_list {
    padding: 0 72px 32px 72px;
    
    margin: 0 auto;
}

.courses .course_row {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

.courses .course_row .course_panel {
    width: 32%;
    background-color: lightgray;
}

.courses .course_row .course_panel:nth-child(2) {
    margin: 0 2%;
}

.courses .course_row .course_panel .course_image {
    width: 100%;
}

.courses .course_row .course_panel .course_image img {
    width: 100%;
    height: auto;
    display: block;
}

.courses .course_row .course_panel .course_content {
    padding: 16px;
}

.courses .course_row .course_panel .course_content > * {
    padding: 8px 0;
}
