/* Add Universal Styles */

html {
   font-size: 16px; 
}

body {
    background-color: #FBF5F3;
    font-family: 'Exo 2', sans-serif;
    //color: #59594a;
}

h1 {
    font-size: 2.8rem;
    padding-left: 5px;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: 'Inknut Antiqua', serif;
}


/* HEADER */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    font-family: 'Inknut Antiqua', serif;
    width: 100%;
    background-color: #fbf5f3;
    border-bottom: 4px solid #59594a;
}

.desktop_header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

header span p {
    padding-left: 10px;
}

nav.desktop {
    height: 100%;
}

nav.desktop ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav.desktop ul li {
    padding: 0 10px;
}

nav.desktop ul li a {
    text-decoration: none;
    color: black;
}

nav.desktop ul li a:hover {
    font-weight: 900;
    color: #ff715b;
}

.mobile_header {
    display: none;
}

/* BANNER SECTION */

.banner {
    width: 96%;
    display: flex;
    
    padding: 32px 2%;
    margin-top: 64px;
   // border-bottom: 2px solid #59594a;
}

.banner_image {
    width: 60%;
    
}

.banner img {
    width: 100%; 
    height: auto;
    display: block;
}

.banner_content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.banner_content h1, .banner_content p, .banner_content button {
    padding: 10px 0;    
    
}

.banner_detail {
    margin-bottom: 20px;
}

.btn {
  background: #7286a0;
  background-image: -webkit-linear-gradient(top, #7286a0, #6880ao);
  background-image: -moz-linear-gradient(top, #7286a0, #6880ao);
  background-image: -ms-linear-gradient(top, #7286a0, #6880ao);
  background-image: -o-linear-gradient(top, #7286a0, #6880ao);
  background-image: linear-gradient(to bottom, #7286a0, #6880ao);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    width: 90%;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* MAIN CONTENT */



.main_content .main_top, .thesis .main_content {
    //background-color: #7286A0;
    background-color: white;
    width: 96%;
    display: flex;
    padding: 32px 2%;
}

.main_image {
    width: 58%;
    
    
}

.main_image .img_descrip {
    padding-bottom: 24px;
}

.main_image img {
    width: 100%;
    height: auto;
    display: block;
}

.main_image h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}




.main_panels {
    width: 40%;
    padding-left: 24px;
    
}

.main_panel {
    width: 100%;
    display: flex;
    padding: 16px 0;
}

.main_panel:hover {
    background-color: #ff715b;
    z-index: 3;
    opacity: 0.8;
}

.main_panel:nth-child(1) {
    padding-top: 0;
}

.main_panel:nth-child(odd) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sub_image {
    width: 35%;
}

.sub_image img {
    width: 100%;
    height: auto;
    display: block;
}

.sub_image .img_mobile {
    display: none;
}

.panel_content {
    width: 65%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel_content p {
    padding: 8px 0; 
}

/* COURSES SECTION */



.courses {
    width: 100%;
    
    
}

.course_list_mobile {
    display: none;
}

.courses h3 {
    text-align: center;
    padding: 32px 0;
}

.courses .course_list {
    padding: 0 72px 32px 72px;
    
    margin: 0 auto;
}

.courses .course_row {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

.courses .course_row .course_panel {
    width: 32%;
    background-color: white;
    border: 1px solid #59594a;
}

.courses .course_row .course_panel:hover {
background-color: #ff715b;
    z-index: 3;
    opacity: 0.8;
}

.courses .course_row .course_panel:nth-child(2) {
    margin: 0 2%;
}

.courses .course_row .course_panel .course_image {
    width: 100%;
}

.courses .course_row .course_panel .course_image img {
    width: 100%;
    height: auto;
    display: block;
}

.courses .course_row .course_panel .course_content {
    padding: 16px;
}

.courses .course_row .course_panel .course_content > * {
    padding: 8px 0;
}

/* THESIS SECTION */

.thesis h3 {
    text-align: center;
    padding: 32px 0 0 0;
}

.thesis {
    background-color: white;
}

.thesis h5 {
    padding-top: 24px;
    padding-bottom: 8px;
}

.thesis .main_panel:nth-child(2) {
    border-bottom: 1px solid black;
}

/* FOOTER SECTION */

footer {
    padding: 16px 24px 48px 24px;
    display: flex;
    justify-content: space-between;
    opacity: 0.3
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}



/* ---------------- MEDIA QUERIES ---------------------------------  */

/* MOBILES */
@media only screen and (max-width: 750px) {

    
    h1 {
       font-size: 2.4rem; 
    }
    
    
    /* MOBILE HEADER SECTION */
    .desktop_header {
        display: none;
    }

    .mobile_header {
        display: block; 
        height: 64px;
    }
    
    .mobile_header ul {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
    }
    
    /* MOBILE BANNER SECTION */
    
    .banner {
        width: 100%;
        display: block;
        padding: 0;
        
    }
    
    .banner_image {
        width: 100%;
    }
    
    .banner_content {
        width: 92%;
        padding: 32px 16px;
    }
    
    .banner_detail {
        padding-top: 32px;
        padding-bottom: 24px;
    }
    
    .btn {
        width: 100%;
    }
    
    /* MOBILE MAIN CONTENT */
    
    .main_top {
        //padding-bottom: 0;
    }
    
    .main_top .main_image {
        display: none;
    }
    
    .main_top .main_panels {
        padding: 16px;
            width: 92%;
        
    } 
    
    .sub_image .img_mobile {
        display: block;
    }
    
    .main_top .img_desktop {
        display: none;
    }
    
    .main_top .main_panel {
        flex-direction: column;
        
    }
    
    .main_top .sub_image {
        width: 100%;
    }
    
    .main_top .panel_content {
        padding: 32px 16px;
        width: 92%;
    }
    
    .main_top .panel_content p {
        padding: 10px 0;
    }
    
    .main_top .main_panel:last-child {
        border-bottom: none;
    }
    
    /* MOBILE COURSE SECTION */
    
    .course_list {
        display: none;
    }
    
    .course_list_mobile {
        display: block;
    }
    
    .course_list_mobile ul {
        padding-bottom: 32px;
    }
    
    .course_list_mobile li {
        padding: 24px 16px;
        margin-bottom: 8px;
        background-color: #59656f;
        margin: 0 16px 8px 16px;
        color: white;
    }
    
    .course_list_mobile li h4 {
        padding-left: 16px;
    }
    
    
    /* MOBILE THESIS CONTENT */
    
    
    .thesis .main_content {
        padding: 0;
        width: 100%;
    }
    
    .thesis .main_panels {
        display: none;
    }
    
    .thesis .main_image {
        width: 100%;
        margin-bottom: 24px;
    }
    
    .thesis .main_image h5, .thesis .main_image p {
        display: none;
    }
    
    /* MOBILE FOOTER SECTION */
    
    footer {
        padding: 16px 24px;
    }
    
    footer a {
        display: none;
    }
    
    
    
}