/* Add Universal Styles */

body {
    
}




/* HEADER */

header {
    position: fixed;
    z-index: 5;
    
    width: 100%;
}

.desktop_header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

nav.desktop {
    height: 100%;
}

nav.desktop ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav.desktop ul li {
    padding: 0 10px;
}


.mobile_header {
    display: none;
}





